* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  font-size: 18px;
  text-align: center;
}
h2,
h3,
h4 {
  line-height: 2;
}
main {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style: none;
  display: inline;
  padding-right: 20px;
}
nav a {
  color: seashell;
}
.logo {
  height: 50px;
  margin-left: 10px;
}

#mission {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: 62px auto 100px auto;
}
#mission .text-over {
  background-color: black;
  width: 1200px;
  padding: 10px;
}

#featured-tea {
  max-width: 1000px;
  line-height: 1;
}
#featured-tea img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
.container-img {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
figure {
  margin: 10px 0;
}

#locations {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 600px;
  margin-top: 100px;
}
.container-locations {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.location {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 40px;
  padding: 25px 0;
}
#locations h2 {
  margin-top: 100px;
  line-height: 1;
}
.location p {
  line-height: 3;
}
.contact {
  height: 200px;
  line-height: 3;
}
.contact h2 {
  margin-bottom: 10px;
}
footer p {
  text-align: left;
  margin: 20px;
  font-size: 16px;
}
